<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="canonical" href="https://krekog.github.io/sparkycalc/" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .container-lg {height: 100%;}

      @media (max-width: 992px) {body {zoom:105%;}}
      @media (max-width: 768px) {body {zoom:110%;}}
      @media (max-width: 576px) {body {zoom:115%;}}
    </style>
    <title>SparkyCalc</title>
  </head>
  <body>
    <div id="app"></div>

    <script type="text/javascript">
      const calculator = {
        template: `
          <div class="container-lg">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="lum-pos-tab" data-bs-toggle="tab" data-bs-target="#menu-position" type="button" role="tab" aria-controls="position" aria-selected="true">Position</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="csa-tab" data-bs-toggle="tab" data-bs-target="#menu-csa" type="button" role="tab" aria-controls="CSA" aria-selected="false">CSA</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="r-tab" data-bs-toggle="tab" data-bs-target="#menu-r" type="button" role="tab" aria-controls="R" aria-selected="false">R</button>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="menu-position" role="tabpanel" aria-labelledby="menu-position-tab">
                <div class="container-lg px-4 border bg-light">
                  <h1>Luminaire position calculator</h1>
                  <div class="form-floating">
                    <input id="numberOfLuminaires" type="number" v-model="numberOfLuminaires" class="form-control" placeholder="Number of Luminaires">
                    <label for="numberOfLuminaires">Number of Luminaires</label>
                  </div>
                  <div class="form-floating">
                    <select v-model="lumUnit" class="form-select" aria-label="Default select example">
                      <option value="mm" selected>milimeter</option>
                      <option value="cm" selected>centimeter</option>
                      <option value="m">meter</option>
                      <option value="km">kilometer</option>
                      <option value="in">inch</option>
                      <option value="ft">foot</option>
                      <option value="yd">yard</option>
                      <option value="mi">mile</option>
                    </select>
                    <label for="lineconductor">Unit of distance</label>
                  </div>
                  <div class="form-floating">
                    <input id="fullLength" type="number" v-model="fullLength" class="form-control" placeholder="Room length">
                    <label for="fullLength">Room length in {{lumUnit}}</label>
                  </div>
                  <div class="form-floating">
                    <input id="offsetFromLeft" type="number" v-model="offsetFromLeft" default="0" :disabled="forcedLeft > 0" class="form-control" placeholder="Offset from left">
                    <label for="offseoffsetFromLefttLeft">Offset from left in {{lumUnit}}</label>
                  </div>
                  <div class="form-floating">
                    <input id="offsetFromRight" type="number" v-model="offsetFromRight" default="0" :disabled="forcedRight > 0" class="form-control" placeholder="Offset from right">
                    <label for="offsetFromRight">Offset from right in {{lumUnit}}</label>
                  </div>
                  <div class="form-floating">
                    <input id="forcedLeft" type="number" v-model="forcedLeft" default="0" :disabled="offsetFromLeft > 0" class="form-control" placeholder="Force position of first from left side">
                    <label for="forcedLeft">Force position of first from left side in {{lumUnit}}</label>
                  </div>
                  <div class="form-floating">
                    <input id="forcedRight" type="number" v-model="forcedRight" default="0" :disabled="offsetFromRight > 0" class="form-control" placeholder="Force position of first from right side">
                    <label for="forcedRight">Force position of first from right side in {{lumUnit}}</label>
                  </div>
                  <div v-if="numberOfLuminaires && fullLength">
                    <h2>Luminaire positions</h2>
                    <ul class="list-group text-center">
                      <li class="list-group-item">|--<span v-for="distance in distanceList">{{Math.round((distance.distance + Number.EPSILON) * 100) / 100}} {{lumUnit}}<span v-if="distance.index != Object.keys(distanceList).length">--⮾--</span></span>--|</li>
                    </ul>
                    <div v-if="offsetFromLeft < 1 && offsetFromRight < 1 && !forcedLeft && !forcedRight">
                      <h4>Luminaire positions with a laser a measuring tool</h4>
                      <ul v-for="position in positions" class="list-group">
                        <li class="list-group-item">{{position.index + 1}}. {{Math.round((position.position + Number.EPSILON) * 100) / 100}} {{lumUnit}}</li>
                      </ul>
                    </div>
                    <div v-else>
                      <div>
                        <h4>Luminaire positions with a laser measuring tool from the left</h4>
                        <ul v-for="position in positions" class="list-group">
                          <li class="list-group-item">{{position.index + 1}}. {{Math.round((position.position + Number.EPSILON) * 100) / 100}} {{lumUnit}}</li>
                        </ul>
                      </div>
                      <div>
                        <h4>Luminaire positions with a laser measuring tool from the right:</h4>
                        <ul v-for="position in positionsFromTheRight" class="list-group">
                          <li class="list-group-item">{{position.index + 1}}. {{Math.round((position.position + Number.EPSILON) * 100) / 100}} {{lumUnit}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="d-none">
                    <h5>Debug panel</h5>
                    <div>
                      <label for="effectiveLength">effective length:</label><br>
                      <input name="effectiveLength" type="text" v-model="effectiveLength" default="0">
                    </div>
                    <div>
                      <label for="luminaireShineRadius">Luminaire shine radius:</label><br>
                      <input name="luminaireShineRadius" type="text" v-model="luminaireShineRadius" default="0">
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="menu-csa" role="tabpanel" aria-labelledby="menu-csa-tab">
                <div class="container-lg px-4 border bg-light">
                  <h1>CSA calculator</h1>

                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-diameter-tab" data-bs-toggle="pill" data-bs-target="#diameter" type="button" role="tab" aria-controls="pills-home" aria-selected="true">From strand diameter</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-addition-tab" data-bs-toggle="pill" data-bs-target="#addition" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Addition</button>
                    </li>
                  </ul>

                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="diameter" role="tabpanel" aria-labelledby="diameter-tab">
                      <h4>From strand diameter</h4>
                      <div class="form-floating">
                        <input id="fullLength" type="number" v-model="csaNumberOfStrands" default="1" class="form-control" placeholder="Number of strands">
                        <label for="fullLength">Number of strands</label>
                      </div>
                      <div class="form-floating">
                        <input id="fullLength" type="number" v-model="csaDiameter" class="form-control" placeholder="Strand Diameter in mm">
                        <label for="fullLength">Strand Diameter in mm</label>
                      </div>
                      <div v-if="csaDiameter && csaNumberOfStrands">
                        <h2>Effective CSA:</h2>
                        <ul class="list-group text-center">
                          <li class="list-group-item">{{Math.round(Math.PI * Math.pow((csaDiameter * 1.0) / 2, 2) * csaNumberOfStrands * 1000) / 1000}} mm<sup>2</sup></li>
                        </ul>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="addition" role="tabpanel" aria-labelledby="addition-tab">
                      <h4>Addition</h4>
                      <div class="form-floating">
                        <input id="fullLength" type="number" v-model="csaFirstCSA" class="form-control" placeholder="CSA in mm<sup>2</sup>">
                        <label for="fullLength">CSA in mm<sup>2</sup></label>
                      </div>
                      <div class="form-floating">
                        <input id="fullLength" type="number" v-model="csaSecondCSA" default="1" class="form-control" placeholder="CSA in mm<sup>2</sup>">
                        <label for="fullLength">CSA in mm<sup>2</sup></label>
                      </div>
                      <div v-if="csaFirstCSA && csaSecondCSA">
                        <h2>Effective CSA:</h2>
                        <ul class="list-group text-center">
                          <li class="list-group-item">{{csaAdditionResult}} mm<sup>2</sup></li>
                        </ul>
                        <div class="d-grid gap-2">
                          <button @click="csaAddMore()" class="btn btn-primary" type="button">Add more</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="menu-r" role="tabpanel" aria-labelledby="menu-r">
                <div class="container-lg px-4 border bg-light">
                  <h1>Resistance</h1>

                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-diameter-tab" data-bs-toggle="pill" data-bs-target="#roneplusrtwo" type="button" role="tab" aria-controls="pills-home" aria-selected="true">R<sub>1</sub>+R<sub>2</sub></button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-addition-tab" data-bs-toggle="pill" data-bs-target="#rcpc" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Expected CPC Resistance</button>
                    </li>
                  </ul>

                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="roneplusrtwo" role="tabpanel" aria-labelledby="diameter-tab">
                      <p>Based on the values found in On-site Guide to BS 7671:2018, Appendix I, resistance of copper and aluminium conductors (page 195).
                      <div class="form-floating">
                        <input v-model="rTemperature" id="rTemperature" type="number" class="form-control" placeholder="Temperature in C">
                        <label for="rTemperature">Temperature in C</label>
                      </div>
                      <div class="form-floating">
                        <select @change="rROneAndRTwoReset()" v-model="rMaterial" class="form-select" aria-label="Default select example">
                          <option value="copper" selected>Copper</option>
                          <option value="aluminium">Aluminium</option>
                        </select>
                        <label for="lineconductor">Conductor material</label>
                      </div>
                      <div class="form-floating">
                        <select v-model="rLineConductorCSA" :disabled="rMaterial ? false : true" class="form-select" aria-label="Default select example">
                          <option v-if="rMaterial" v-for="(csa, key) in this.rOptionsLineConductorCSA(rMaterial)">
                            {{csa}}
                          </option>
                        </select>
                        <label for="lineconductor">Line conductor CSA in mm<sup>2</sup></label>
                      </div>
                      <div class="form-floating">
                        <select v-model="rCircuitProtectiveConductorCSA" :disabled="!!rLineConductorCSA ? false : true" class="form-select" aria-label="Default select example">
                          <option v-if="rLineConductorCSA" v-for="(csa, key) in rOptionsCircuitProtectiveConductorCSA(rMaterial,rLineConductorCSA)" :selected="csa == '-'? true : false">
                            {{csa}}
                          </option>
                        </select>
                        <label for="lineconductor">CPC CSA in mm<sup>2</sup></label>
                      </div>
                      <div class="form-floating">
                        <input v-model="rCircuitLength"  id="rCircuitLength" type="number" default="1" class="form-control" placeholder="Circuit Length">
                        <label for="rCircuitLength">Circuit length in m</label>
                      </div>
                      <div v-if="!!rMaterial && !!rLineConductorCSA && !!rCircuitProtectiveConductorCSA && !!rCircuitLength && !!rTemperature">
                        <h2>Expected Resistance:</h2>
                        <ul class="list-group text-center">
                          <li class="list-group-item">{{Math.round(rResistancePerMeter * rCircuitLength * (1 + 0.004 * (rTemperature - 20))) / 1000}} &#8486;</li>
                        </ul>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="rcpc" role="tabpanel" aria-labelledby="diameter-tab">
                      <p>Based on the values found in On-site Guide to BS 7671:2018, Appendix I, resistance of copper and aluminium conductors (page 195).
                      <div class="form-floating">
                        <select @change="rCPCReset()" v-model="rCPCMaterial" class="form-select" aria-label="Default select example">
                          <option value="copper" selected>Copper</option>
                          <option value="aluminium">Aluminium</option>
                        </select>
                        <label for="lineconductor">Conductor material</label>
                      </div>
                      <div class="form-floating">
                        <select v-model="rCPCLineConductorCSA" :disabled="rCPCMaterial ? false : true" class="form-select" aria-label="Default select example">
                          <option v-if="rCPCMaterial" v-for="(csa, key) in this.rOptionsLineConductorCSA(rCPCMaterial)">
                            {{csa}}
                          </option>
                        </select>
                        <label for="lineconductor">Line conductor CSA in mm<sup>2</sup></label>
                      </div>
                      <div class="form-floating">
                        <select v-model="rCPCCircuitProtectiveConductorCSA" :disabled="!!rCPCLineConductorCSA ? false : true" class="form-select" aria-label="Default select example">
                          <option v-if="rCPCLineConductorCSA" v-for="(csa, key) in rCPCOptionsCircuitProtectiveConductorCSA(rCPCMaterial,rCPCLineConductorCSA)">
                            {{csa}}
                          </option>
                        </select>
                        <label for="lineconductor">CPC CSA in mm<sup>2</sup></label>
                      </div>
                      <div class="form-floating">
                        <input v-model="rMeasuredR"  id="rMeasuredR" type="number" default="" class="form-control" placeholder="Measured line resistance">
                        <label for="rCircuitLength">Measured line resistance in &#8486;</label>
                      </div>
                      <div v-if="!!rCPCMaterial && !!rCPCLineConductorCSA && !!rCPCCircuitProtectiveConductorCSA && !!rMeasuredR">
                        <h2>Expected Resistance:</h2>
                        <ul class="list-group text-center">
                          <li class="list-group-item">{{Math.round((rCPCCPCResistancePerMeter / rCPCLineResistancePerMeter) * rMeasuredR * 1000) / 1000}} &#8486;</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
          `,
        data() {
          return {
            lumUnit:"mm",
            fullLength: null,
            numberOfLuminaires: null,
            offsetFromLeft: null,
            offsetFromRight:null,
            forcedLeft:null,
            forcedRight:null,

            csaDiameter:null,
            csaNumberOfStrands:1,
            csaFirstCSA:null,
            csaSecondCSA:null,

            RESISTANCE_PER_METER_TABLE:null,
            rMaterial:"copper",
            rLineConductorCSA:null,
            rCircuitProtectiveConductorCSA:null,
            rCircuitLength:null,
            rTemperature:20,

            rCPCMaterial:"copper",
            rCPCLineConductorCSA:null,
            rCPCCircuitProtectiveConductorCSA:null,
            rMeasuredR:null
          }
        },
        computed: {
          effectiveLength: function () {
            if (this.forcedLeft && this.forcedRight) {
                return Math.abs(this.forcedLeft - this.forcedRight)
            } else if (this.forcedLeft && !this.forcedRight) {
                return (this.fullLength - this.forcedLeft - this.offsetFromRight)
            } else if (!this.forcedLeft && this.forcedRight) {
                return (this.fullLength - this.offsetFromLeft - (this.fullLength - this.forcedRight))
            } else {
              return this.fullLength - this.offsetFromLeft - this.offsetFromRight
            }
          },
          luminaireShineRadius: function () {
            if (this.forcedLeft && this.forcedRight) {
                return this.effectiveLength / (this.numberOfLuminaires * 2 - 2)
            }

            if ((this.forcedLeft && !this.forcedRight) || !this.forcedLeft && this.forcedRight) {
                return this.effectiveLength / (this.numberOfLuminaires * 2 - 1)
            }

            return this.effectiveLength / (this.numberOfLuminaires * 2)
          },
          positions: function () {
            var positions = []

            for (var i = 0; i < this.numberOfLuminaires; i++) {

              if (this.forcedLeft) {
                positions.push({
                  index: i,
                  position: Number(this.forcedLeft) + Number(this.luminaireShineRadius) * 2 * i
                })
              } else {
                positions.push({
                  index: i,
                  position: Number(this.offsetFromLeft) + Number(this.luminaireShineRadius) + Number(this.luminaireShineRadius) * 2 * i
                })
              }
            }

            return positions;
          },
          positionsFromTheRight: function() {
            let positionsFromTheRight = []
            let i = 0

            this.positions.slice().reverse().forEach(x => positionsFromTheRight.push({index: i++, position: this.fullLength - x.position}))

            return positionsFromTheRight
          },
          distanceList: function() {
            var distanceList = []

            if (this.forcedLeft) {
              distanceList.push({
                index: 1,
                distance: Number(this.forcedLeft)
              })
            } else {
              distanceList.push({
                index: 1,
                distance: Number(this.luminaireShineRadius) + Number(this.offsetFromLeft)
              })
            }

            for (var i = 0; i < this.numberOfLuminaires - 1; i++) {
              distanceList.push({
                index: i + 2,
                distance: Number(this.luminaireShineRadius) * 2
              })
            }

            if (this.forcedRight) {
              distanceList.push({
                index: Number(this.numberOfLuminaires) + 1,
                distance: Number(this.fullLength - this.forcedRight)
              })
            } else {
              distanceList.push({
                index: Number(this.numberOfLuminaires) + 1,
                distance: Number(this.luminaireShineRadius) + Number(this.offsetFromRight)
              })
            }
            return distanceList;
          },
          csaAdditionResult: function () {
            if (this.csaFirstCSA && this.csaSecondCSA) {
              return Math.round(Math.sqrt((Math.pow(this.csaFirstCSA, 2) + Math.pow(this.csaSecondCSA, 2))) * 1000) / 1000
            }
            return '-'
          },
          rResistancePerMeter: function () {
            if (!!this.rMaterial && !!this.rLineConductorCSA && !!this.rCircuitProtectiveConductorCSA && !!this.rCircuitLength && !!this.rTemperature)
              return this.RESISTANCE_PER_METER_TABLE[this.rMaterial][this.rLineConductorCSA][this.rCircuitProtectiveConductorCSA];
            else
              return '-';
          },
          rCPCLineResistancePerMeter: function () {
            if (!!this.rCPCMaterial && !!this.rCPCLineConductorCSA && !!this.rCPCCircuitProtectiveConductorCSA && !!this.rMeasuredR)
              return this.RESISTANCE_PER_METER_TABLE[this.rCPCMaterial][this.rCPCLineConductorCSA]['-'];
            else
              return '-';
          },
          rCPCCPCResistancePerMeter: function () {
            if (!!this.rCPCMaterial && !!this.rCPCLineConductorCSA && !!this.rCPCCircuitProtectiveConductorCSA && !!this.rMeasuredR)
              return this.RESISTANCE_PER_METER_TABLE[this.rCPCMaterial][this.rCPCCircuitProtectiveConductorCSA]['-'];
            else
              return '-';
          },
        },
        methods: {
          csaAddMore: function() {
            this.csaFirstCSA = this.csaAdditionResult;
            this.csaSecondCSA = null;
          },
          rOptionsLineConductorCSA: function (material) {
            if (this.RESISTANCE_PER_METER_TABLE[material]) {
              let keys = Object.keys(this.RESISTANCE_PER_METER_TABLE[material]);
              return keys.sort(function(a, b){return a - b});
            }

            return [];
          },
          rOptionsCircuitProtectiveConductorCSA: function (material, lineConductorCSA) {
            if (this.RESISTANCE_PER_METER_TABLE[material][lineConductorCSA]) {
              let keys = Object.keys(this.RESISTANCE_PER_METER_TABLE[material][lineConductorCSA]);
              return keys.sort(function(a, b) {
                  if (b === '-') {
                    return 1;
                  } else if(a === '-') {
                    return -1;
                  }
                  return a - b;
                }
              );
            }

            return [];
          },
          rCPCOptionsCircuitProtectiveConductorCSA: function (material, lineConductorCSA) {
            if (this.RESISTANCE_PER_METER_TABLE[material][lineConductorCSA]) {
              let keys = Object.keys(this.RESISTANCE_PER_METER_TABLE[material][lineConductorCSA]);
              return keys.filter(function(a) {
                return a !== '-';
              }).sort();
            }

            return [];
          },
          rROneAndRTwoReset: function() {
            this.rLineConductorCSA = null;
            this.rCircuitProtectiveConductorCSA = null;
          },
          rCPCReset: function() {
            this.rCPCLineConductorCSA = null;
            this.rCPCCircuitProtectiveConductorCSA = null;
          }
        },
        beforeMount: function () {
          this.RESISTANCE_PER_METER_TABLE = {
            'aluminium': {
              '16': {
                '-' : 1.91,
                '16': 3.81
              },
              '25': {
                '-' : 1.2,
                '25': 2.40
              },
              '35': {
                '-' : 0.87,
                '16': 2.78,
                '25': 2.07,
                '35': 1.74
              },
              '50': {
                '-': 0.65,
                '25': 1.84,
                '35': 1.51,
                '50': 1.28
              }
            },
            'copper': {
              '1': {
                '-': 18.10,
                '1': 36.20
              },
              '1.5': {
                '-': 12.10,
                '1': 30.20,
                '1.5': 24.20
              },
              '2.5': {
                '-': 7.41,
                '1': 25.51,
                '1.5': 19.51,
                '2.5': 14.82
              },
              '4': {
                '-': 4.61,
                '1.5': 16.71,
                '2.5': 12.02,
                '4': 9.22
              },
              '6': {
                '-': 3.08,
                '2.5': 10.49,
                '4': 7.69,
                '6': 6.16
              },
              '10': {
                '-': 1.83,
                '4': 6.44,
                '6': 4.91,
                '10': 3.66
              },
              '16': {
                '-': 1.15,
                '6': 4.23,
                '10': 2.98,
                '16': 2.30
              },
              '25': {
                '-': 0.727,
                '10': 2.557,
                '16': 1.877,
                '25': 1.454
              },
              '35': {
                '-': 0.524,
                '16': 1.674,
                '25': 1.251,
                '35': 1.048
              },
              '50': {
                '-': 0.387,
                '25': 1.114,
                '35': 0.911,
                '50': 0.774
              }
            }
          };
        }
      };

      const app = {
        template: `
          <div class="vue-app">
            <calculator></calculator>
          </div>
          `,
      };

      // register your components
      Vue.component('calculator', calculator);
      Vue.component('app', app);

      // launch your Vue app
      new Vue({
        el: "#app",
        template: `<app></app>`
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>
